.cardsContainer{
  display: flex;
  justify-content: space-evenly;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 22px;
  font-weight: 400;
  color: black;
  
  margin-bottom: 10px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}