.tableHeadText{
  font-family: 'Josefin Sans' !important;
  font-size: 20px !important;
}

.tableBodyText{
  font-family: 'Josefin Sans' !important;
}

.tableContainer {
  backdrop-filter: blur(5px) !important;  
}

.usersTitle{
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 15px;
}