

<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header card-header-<%=panelSetting.color_theme%> card-header-icon">
      <div class="card-icon" id="dp_div">
        <i class="material-icons">person</i>
      </div>
      <p class="card-category" id="display_name">Nome do usuário</p>
      <h3 class="card-title" id="display_steamId">STEAMID do usuário</h3>
    </div>
    <div class="card-footer">
      <form class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">Insira a URL da steam do usuário para ver informações</label>
              <input type="url" name="steam_URL" class="form-control" id="steam_URL" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group bmd-form-group">
              <button type="button" onclick="profileUrlToDataFetcher($('#steam_URL').val())"
                class="btn btn-success pull-right">PESQUISAR</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>