.cardsContainer{
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0 0 0;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  margin: 0 25px 25px 25px;
}

.cardTitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.serverField {
  display: flex;
  align-items: center;
}